.container {
  display: flex;
  height: 100vh;
}
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}
.menu {
  display: flex;
  justify-content: center;
  
}
.content {
  background: url(../public/backgroundimage.jpg) ;
  background-size: 1280px 800px;
}